h1{
    color: blue;
    font-family: sofia-pro-soft, sans-serif;
font-style: normal;
font-weight: 700;
}
body{
    background-color: rgb(185, 179, 179);
}
p{
    font-family: sofia-pro-soft, sans-serif;
font-style: normal;
font-weight: 300;
}
img{
    height: 100px;
    width: auto;
}
nav{
    background-color: rgb(72, 124, 236);
   
}

div{
    width: 100%;
    border: dashed 2px white;
}
ul{flex: auto;
    list-style: none;
}