body{
    margin: 0;
    background-color: rgb(185, 179, 179);
    font-family: 'Ubuntu', sans-serif;
}

/* Nav */

nav{
    width: 100vw;
    background-color: rgb(171, 218, 186);
   

}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-items: stretch;
}
li{ 
    height: inherit;
    margin: 0;
    padding:10px;
    
}
.logoA{
    height: 5vh;
}
.logoImg {
    height: inherit;
    border-radius:100%;
    padding:5px;
}
.navItem{
    display: block;
    text-decoration: none;
    color: black;
    padding: 2vw ;
    height: inherit;
    
}

.navItem:hover{
    background-color: royalblue;
    border:2px;
    border-color: black;
}

header h1{
    color: blue;
    font-family: sofia-pro-soft, sans-serif;
font-style: normal;
font-weight: 700;
text-align: center;
}

main p{
    font-family: sofia-pro-soft, sans-serif;
font-style: normal;
font-weight: 300;
text-align: center;
background-color: brown;
padding:1em;
margin:10px;

}



