h1{
    color: blue;
    font-family: sofia-pro-soft, sans-serif;
font-style: normal;
font-weight: 700;
}
body{
    background-color: rgb(185, 179, 179);
}
p{
    font-family: sofia-pro-soft, sans-serif;
font-style: normal;
font-weight: 300;
}
img{
    height: 5vw;
    width: auto;
}
nav{
    background-color: rgb(171, 218, 186);
   
}
ul{
    list-style: none;
    display: flex;
}
li{
    margin: 0 auto;
}
.navItem{
    text-decoration: none;
    color: black;
    text-align: center;
}
a:hover{
    background-color: yellow;
}

